name: CI

on:
  push:
    branches: [ changelog-check ]
  pull_request:
    branches: [ changelog-check ]

jobs:
  changelog:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github.event.pull_request) }}
      run: echo "$GITHUB_CONTEXT"

    - name: git diff
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'no-changelog-needed') }}
      run: |
        git diff master..@
