name: Changelog check

on:
  pull_request:
    branches: [ changelog-check ]
    types: [ opened, synchronize, reopened, labeled, unlabeled ]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - run: git branch

    - run: git branch -r

    - run: echo "$GITHUB_CONTEXT"
      env:
        GITHUB_CONTEXT: ${{ toJson(github.event) }}

    - name: git diff
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'no-changelog-needed') }}
      env:
        BASE_REF: ${{ github.event.pull_request.base.ref }}
      run: |
        ! git diff --exit-code origin/$BASE_REF -- CHANGES.md
