name: Changelog check

on:
  push:
    branches: [ changelog-check ]
  pull_request:
    branches: [ changelog-check ]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      
    - name: git diff
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'no-changelog-needed') }}
      env:
        BASE_REF: ${{ github.event.pull_request.base.ref }}
      run: |
        git diff $BASE_REF -- CHANGES.md
