name: Replace PR number

on:
  pull_request:
    branches: [ changelog-check ]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1

    - name: find placeholder
      env:
        pull_number: github.event.pull_request.number
        comments_url: ${{ github.event.pull_request.review_comments_url }}
        commit_id: ${{ github.event.pull_request.head.sha }}
        BASE_REF: ${{ github.event.pull_request.base.ref }}
      run: |
        line=$(git diff origin/$BASE_REF -- CHANGES.md | grep --line-number '#this')
        diffpos=$(echo $line | cut -d: -f1)
        diffcontent=$(echo $line | cut -d: -f2)
        position=$((diffpos - 5))
        original=${diffcontent#+}
        body=$(printf '```suggestion\n%s\n```\n' "${original/this/$pull_number}")
        jq -n \
        --arg commit_id "$commit_id" \
        --arg body "$body" \
        '{} |
        .body=$body |
        .path="CHANGES.md" |
        .commit_id=$commit_id |
        .position=$position
        ' |
        curl \
          -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          "$comments_url" \
          -d @-
