name: Replace PR number

on:
  pull_request:
    branches: [ changelog-check ]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1

    - name: find placeholder
      env:
        owner: emillon
        repo: actions-test
        pull_number: 2
        POSITION: 5
        BASE_REF: ${{ github.event.pull_request.base.ref }}
      run: |
        git diff origin/$BASE_REF -- CHANGES.md | grep --line-number '#this'
        git grep '#this' CHANGES.md || true
        echo curl \
          -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          "https://api.github.com/repos/$owner/$repo/pulls/$pull_number/comments" \
          -d '{"body":"found it","path":"CHANGES.md","position":$POSITION}'
